[submodule "third_party/FTXUI"]
	path = third_party/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
